@using CoffeeShop.Services.Interfaces

@inherits InputBase<string>

@inject IJsHelper JsHelper

<div class="search-bar @Class">
    <input class="search-input"
           value="@Value"
           type="text"
           id="@(Id != string.Empty ? Id : "")"
           @oninput="HandleOnInput"
           @onfocusin="@(_ => _hideSuggestion=false)"
           />
    <button class="search-btn" onclick="@OnClick">
        <img class="search-icon" src="@IconUrl" alt="search image"/>
    </button>
    @if (Suggestions.Length > 0)
    {
        <div class="search-suggestions @(_hideSuggestion ? "hide" : "")">
            @foreach (var suggestion in Suggestions)
            {
                <Button Text="@suggestion" OnClickCallback="@(_ => HandleClickSuggestion(suggestion))"></Button>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public string IconUrl { get; set; } = "images/search.png";
    [Parameter]
    public string[] Suggestions { get; set; } = Array.Empty<string>();
    [Parameter]
    public EventCallback<MouseEventArgs>? OnClick { get; set; }

    private bool _hideSuggestion = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        await JsHelper.OnClickOutsideClass(".search-bar", this, nameof(HandleOnClickOutside));
    }

    protected override void HandleOnInput(ChangeEventArgs eventArgs)
    {
        Value = eventArgs.Value?.ToString() ?? string.Empty;
        ValueChanged?.InvokeAsync(Value);

        if (Value != string.Empty)
            _hideSuggestion = false;

        
        StateHasChanged();
    }

    private void HandleClickSuggestion(string suggestion)
    {
        Value = suggestion;
        ValueChanged?.InvokeAsync(Value);

        _hideSuggestion = true;
        StateHasChanged();
    }

    [JSInvokable]
    public void HandleOnClickOutside()
    {
        _hideSuggestion = true;
        StateHasChanged();
    }
}