@using CoffeeShop.Shared.History;

@page "/history"

<div class="history">
    <div class="background box-shadow">
        <PostParagraph Title="How Hardcore Coffee Became the Ultimate Choice for Coffee Lovers: A History of the Brand"
                       Paragraphs="@(new []{
                                       "If you are a coffee lover, you probably have heard of Hardcore Coffee, the brand that offers the most intense and satisfying coffee experiences. But do you know how this brand started? In this blog, we will take you through the history of Hardcore Coffee, from its humble beginnings to its global success."
                                   })">
            <div class="image-div">
                <img class="box-shadow poster-image first" src="images/poster.jpg" alt="poster"/>
                <img class="box-shadow poster-image second" src="images/poster-1.jpg" alt="poster"/>
                <img class="box-shadow poster-image third" src="images/poster-2.jpg" alt="poster"/>
            </div>
        </PostParagraph>
        <PostParagraph Title="The Origins of Hardcore Coffee"
                       Paragraphs="@(new [] {
                                       "Hardcore Coffee was founded in 2018 by two friends, Alex and Ben, who shared a passion for coffee and adventure. They met while traveling in Vietnam, where they discovered the local coffee culture and the amazing variety of coffee beans. They were impressed by the strong and flavorful coffee that the Vietnamese people enjoyed, and they decided to bring some of the beans back to their home country, the United States.",
                                       "They started roasting and brewing their own coffee at home, experimenting with different blends and methods. They soon realized that they had created something unique and delicious, a coffee that was not only rich in taste, but also in caffeine. They named their coffee Hardcore Coffee, because it was not for the faint of heart, but for those who wanted to live life to the fullest."
                                   })">
            <div class="image-div">
                <img class="box-shadow origin-image" src="https://images.squarespace-cdn.com/content/v1/5811623ed2b8577822ce1f3d/1528827851414-6HW8WLIELDX0MXKKL692/Coffee%2bplant.jpg" alt="Ben"/>
            </div>
        </PostParagraph>
        <PostParagraph Title="The Rise of Hardcore Coffee" 
                       Paragraphs="@(new []{
                                       "Alex and Ben decided to share their coffee with the world, and they launched their online store in 2019. They also started selling their coffee at local farmers’ markets and events, where they quickly gained a loyal fan base. Their customers loved their coffee, and they also loved their story and their values. Hardcore Coffee was not just a product, but a lifestyle, a way of expressing oneself and embracing one’s passions.",
                                       "Hardcore Coffee soon became a sensation on social media, where people posted pictures and videos of themselves enjoying their coffee, and challenging others to try it. The hashtag #hardcorecoffee went viral, and the brand gained millions of followers and fans. Hardcore Coffee also received positive reviews from critics and influencers, who praised its quality and flavor."
                                   })">
            <div class="image-div">
                <img class="box-shadow rise-image first" src="images/shop-1.jpeg" alt="shop1"/>
                <img class="box-shadow rise-image second" src="images/shop-2.jpg" alt="shop2"/>
                <img class="box-shadow rise-image third" src="images/shop-3.jpg" alt="shop3"/>
            </div>
        </PostParagraph>
        <PostParagraph Title="The Expansion of Hardcore Coffee"
                       Paragraphs="@(new []{
                                       "In 2020, Hardcore Coffee took a big step and opened its first physical store in New York City, where it attracted long lines of customers every day. The store was designed to reflect the brand’s identity, with a modern and minimalist style, and a wall of photos and stories from their customers and travels. The store also offered a variety of coffee drinks and snacks, as well as merchandise and accessories.",
                                       "Hardcore Coffee continued to grow and expand, and in 2021, it opened more stores in other cities, such as Los Angeles, Chicago, and Miami. It also started to distribute its coffee to other countries, such as Canada, Australia, and the United Kingdom. Hardcore Coffee became a global brand, and a symbol of coffee culture and innovation."
                                   })">
            <div class="image-div">
                <img title="Yeah this has nothing to do with the history :))" class="box-shadow expansion-image first" src="images/expansion.jpg" alt="expansion"/>
            </div>
        </PostParagraph>
        <PostParagraph Title="The Future of Hardcore Coffee"
                       Paragraphs="@(new []{
                                       "Hardcore Coffee is not planning to stop anytime soon. It has a vision to become the ultimate choice for coffee lovers around the world, and to inspire them to pursue their dreams and adventures. Hardcore Coffee is always looking for new ways to improve its coffee and its service, and to create new products and experiences for its customers.",
                                       "Hardcore Coffee is more than just a coffee brand, it is a community, a movement, a philosophy. It is for those who love coffee, and who love life. It is for those who are hardcore. Are you?"
                                   })">
            
        </PostParagraph>
        <PostParagraph Class="no-select" Title="⮚ THE END ⮘"/>
    </div>
</div>

@code {
    
}